.page {
    min-height: 100vh;
    /* border: 1px solid red; */
}

h1 {
    font-size: 4rem;
    padding-bottom: 5vh;
}

.row {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left:  20vw;
    padding-right: 20vw;
    font-size: 2.5rem;
}

.fade {
    display: block;
    padding-bottom: 10vh;
}

.timeline:before {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 50%;
    border-left: 1px solid black;
    transform: translate(-50%);
}

.timeline {
    position: relative;
}

.timeline li {
    padding: 5em;
    /* border: 1px solid black; */
    width: 49%;
    background-color: white;
}

.timeline li.right {
    width: 49%;
    margin-right: 0;
    margin-left: auto;
}